@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: black;
    background-color: #fffafa;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: calc(1em + 1.5vw);
    margin-top: 2em;
    margin-bottom: 1em;
}

em {
    font-weight: 700;
    font-style: italic;
}

header h1, header h2 {
    font-family: 'Abril Fatface', cursive;
}

header {
    font-size: 5vw;
}

header h1 {
    margin-top: -0.5em;
    margin-bottom: 0em;
    font-size: 3em;
    letter-spacing: -0.08em;
}

.aff-p-kern {
    letter-spacing: -0.23em;
}

header h2 {
    margin-top: 0;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.4em;
}

p, li {
    margin: 1em 0em;
    line-height: 1.62em;
}

h1 {
    line-height: 1.62em;
}

footer {
    border-top: 1em solid black;
    margin-top: 3em;
}

li {
    list-style-type: square;
}
