@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #23272A;
    background-color: #fffafa;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: 1em;
}

h1 {
    font-size: calc(1em + 1.5vw);
}

h2 {
    font-size: calc(0.5em + 1.25vw);
}

h3 {
    font-size: calc(0.5em + 1vw);
}

blockquote {
    padding-left: 1em;
    border-left: 1ch solid lightgray;
    font-family: 'Montserrat', sans-serif;
}

em {
    font-weight: 700;
    font-style: italic;
}

header h1, header h2 {
    font-family: 'Abril Fatface', cursive;
}

header {
    font-size: 5vw;
}

header h1 {
    margin-top: -0.5em;
    margin-bottom: 0em;
    font-size: 3.08em;
    letter-spacing: -0.09em;
}

.aff-p-kern {
    letter-spacing: -0.23em;
}

.aff-s-kern {
    letter-spacing: -0.13em;
}

header h2 {
    margin-top: 0;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.4em;
}

p, ul {
    line-height: 1.62em;
}

p {
    margin-top: 1em;
}


h1 {
    line-height: 1.62em;
}

footer {
    border-top: 1em solid #23272A;
    margin-top: 3em;
    vertical-align: text-top;
}

li {
    list-style-type: square;
}

code {
    font-family: monospace;
}
